:root {
    --bg: #121A1E;
    --card-bg-normal: #1F262B;

    --toggle-bg: rgba(255, 255, 255, 0.05);
    --accent1: #FA3F86;
    --accent1-dark: #883051;

    --border-radius-large: 10px;
    --border-radius-small: 5px;

    --switch-width: 64px;
    --switch-height: 32px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background: #121A1E;
    background: var(--bg);
}

.container {
    padding: 40px;
    margin: 20px;
    background: #1F262B;
    background: var(--card-bg-normal);

    border-radius: var(--border-radius-large);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


/* ----------------------------------------------------------------------------------- */
/* GENERAL SWITCH STYLES */

.switch {
    display: none;
}

.switch__label {
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;

    padding-left: 70px;

    position: relative;
    cursor: pointer;

    color: white;
}

.switch__text {
    height: 32px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*  The background for the switch */
.switch__label::before {
    content: " ";
    
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.05);
    background: var(--toggle-bg);
    width: 64px;
    height: 32px;
    border-radius: 50px;
    
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

/* The switch "toggle" */
.switch__label::after {
    content: " ";
    
    position: absolute;
    top: 1px;
    left: 1px;

    background: #883051;
    background: var(--accent1-dark);
    width: 30px;
    height: 30px;
    border-radius: 50px;

    box-shadow: 3px 0 2px rgba(0, 0, 0, 0.15);

    -webkit-transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.switch:checked + .switch__label::before {
    background: #883051;
    background: var(--accent1-dark);
}

/*
.switch__label:hover::after, .switch__label:focus::after {
    background: #883051;
    background: var(--accent1-dark);
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
} */

.switch:checked + .switch__label::after {
    background: #FA3F86;
    background: var(--accent1);
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);

    box-shadow: -3px 0 2px rgba(0, 0, 0, 0.15);
}

/* ----------------------------------------------------------------------------------- */
/* STYLES FOR A NO-LABEL SWITCH */

.switch__label--nolabel {
    height: 32px;
    width: 64px;
    padding-left: 0;
}

/*
.switch__label--nolabel:hover::before, .switch__label:focus::before {
    background: #883051;
    background: var(--accent1-dark);
}

.switch__label--nolabel:hover::after, .switch__label:focus::after {
    background: #FA3F86;
    background: var(--accent1);
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
*/